<div class="matches">
	<div class="container-fluid">
		<div class="panel panel-default">
			<div class="panel-heading">
			<h3><strong>Your food choice:</strong> <%= current_user.food_choice %><br>
			Here are your matches!</h3>
			</div>
			<br>
			<div class="panel-body">
				<div class="row">
					<% @users.each do |user| %>
						<div class="col-md-6" id="matches">
						<% if user.id == current_user.id || user.interested_in == current_user.interested_in %>
						<div class="hidden"></div>

						<% else %>

							<% if current_user.food_choice == user.food_choice %>
							<div class="thumbnail">
							<%= image_tag user.avatar(:medium) %>
							<h3><%= user.username %></h3>
							<%= user.name %>, <%= user.age %><br>
							<%= user.location %><br>
							<p>Fun Fact: <%= user.bio %> | Interested in: <%= user.interested_in %></p>


								<button type="button" id="button1" class="btn btn-default"><span class="glyphicon glyphicon-cutlery"></span>
								</button>

							<button type="button" id="button2" class="btn btn-default"><span class="glyphicon glyphicon-remove"></span></button>
							<br><br>
							</div>

							


							<% end %>

						<% end %>

						</div>
					<% end %>
				</div>
			</div>
		</div>
	</div>
</div>