<style media="screen" type="text/css">

a {
  color: #d9534f;
}

a:hover {
  color:#d43f3a;
}
</style>

<h2>Sign up</h2>

<%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
    <%= devise_error_messages! %>

  <div class="form-group">
      <%= f.label :name %>
      <%= f.text_field :name, class: "form-control" %>
    </div>
    <div class="form-group">
      <%= f.label :username %>
      <%= f.text_field :username, class: "form-control" %>
    </div>

    <div class="form-group">
      <%= f.label :email %>
      <%= f.email_field :email, class: "form-control" %>
    </div>
    <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
        <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
    <% end %>


    <div class="form-group">
      <%= f.label :password %> <i></i>
      <%= f.password_field :password, autocomplete: "off", class: "form-control" %>
    </div>
    <div class="form-group">
      <%= f.label :password_confirmation %>
      <%= f.password_field :password_confirmation, autocomplete: "off", class: "form-control" %>
    </div>


    <div class="location">
      <%= f.label :location %>
      <%= f.text_field :location, class: "form-control" %>
    </div>

    <div class="age">
      <%= f.label :age %>
      <%= f.text_field :age, class: "form-control" %>
    </div>

    <div class="food_choice">
      <%= f.label :food_choice %>
      <%= f.text_field :food_choice, class: "form-control" %>
    </div>

    <div class="interested_in">
      <%= f.label :interested_in %>
      <%= f.text_field :interested_in, class: "form-control" %>
    </div>

    <div class="bio">
      <%= f.label :bio %>
      <%= f.text_area :bio, class: "form-control" %>
    </div>

    <div class="form-group">
      <%= f.label :avatar %><br>
      <%= f.file_field :avatar %>
    </div>

    <%= f.submit "Sign up", class: "btn btn-danger" %>
<% end %>

<%= render "devise/shared/links" %>
